<h1><%= @user.first_name %> <%= @user.last_name %> </h1>
<h3>Email: <%= @user.email %></h3>
<a href="/users/<%=@user.id%>/logout">Log Out</a>


<%= form_for @user do |f| %>
   <%= f.file_field :resume_file %>
   <div class="actions">
     <%= f.submit "Upload" %>
   </div>
<% end %>

<table>
  <tr>
    <th>Resume file</th>
  </tr>

  <% @user.resumes.each do |resume| %>
    <tr>
      <td>You have a resume :)</td>
    </tr>
  <% end %>
</table>
