<%= render "layouts/header.html.erb" %>

<div id="content">

  <% if @user.resumes.count == 0 %>
    <div id="no_resumes_section" style="font-family: 'Avenir'">
      <div style="color: #4d4d4d; font-size: 20px; font-family: 'gilroyMedium';">You have no active resumes.</div>
      Upload one below to receive tailored job listings based on your resume to your email as soon as they're posted.
    </div>
  <% else %>
    <div id="resumes_section" style="font-family: 'Avenir'; margin-bottom:16px;">
      <div style="color: #4d4d4d; font-size: 20px; font-family: 'gilroyMedium';">Active Resumes</div>
      You will receive tailored job listings to your email as soon as they're posted based on the content of this/these resume(s).
    </div>
    <table>
      <col width="240">
      <col width="150">
      <col width="80">
      <tr>
        <th>Name</th>
        <th>Preview</th>
        <th></th>
      </tr>
      <% @user.resumes.each do |resume| %>
        <tr>
          <td><a href="<%= resume.s3_link%>" target="_blank"> <%= resume.name %> </a></td>
          <td>
            <object data="<%= resume.s3_link %>" type="application/pdf">
              <embed src="<%= resume.s3_link %>" width="100%" height="100%" />
            </object>
          </td>
          <td><%= link_to [resume.user, resume],
                  method: :delete,
                  data: { confirm: 'Are you sure want to delete this resume? You will no longer receive job alerts for it.' },
                  id: resume.id  do %>
                  <div class="delete_icon"></div>
              <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>


  <div style="color: #4d4d4d; font-size: 17px; font-family: 'gilroyBold'; margin-top: 20px"> Upload Resume </div>
  <%= form_with(url: "/users/#{@user.id}/resumes/", multipart: true) do %>
      <%= label_tag(:resume_name, "Resume Name:", class: 'resume_form_label') %>
      <%= text_field_tag :resume_name, "", class: 'resume_text_field', placeholder: 'Enter Resume Name', id: 'resume_name_field' %>
      <br>
      <%= label_tag(:resume_file, "Resume File (PDF):", class: 'resume_form_label') %>
      <%= file_field_tag :resume_file, id:"upload_file_btn", accept: '.pdf'%>

      <div class="actions">
       <%= submit_tag "Upload", id:"submit_btn" %>
      </div>
  <% end %>


<div id="alerts_section" style="font-family: 'Avenir'; margin-bottom:16px;">
  <div style="margin-top: 30px; color: #4d4d4d; font-size: 20px; font-family: 'gilroyMedium';">Job Alerts</div>
  Coming soon.This section will allow you to browse all the job alerts we send to your email.
</div>

<div id="latest_section" style="font-family: 'Avenir'; margin-bottom:60px;">
  <div style="margin-top: 30px; margin-bottom: 10px;color: #4d4d4d; font-size: 20px; font-family: 'gilroyMedium';">Latest Jobs</div>
  <table id="latest">
    <col width="350">
    <col width="250">
    <col width="250">
    <col width="250">
    <col width="140">
    <tr>
      <th>Position</th>
      <th>Company</th>
      <th>Category</th>
      <th>Location</th>
      <th>Days Posted</th>
    </tr>
    <% @latest_jobs.each do |job| %>
      <tr>
        <td><a href="<%= job.url%>" target="_blank"> <%= job.title %> </a></td>
        <td><%= job.company%></td>
        <td><%= job.category%></td>
        <td><%= job.location%></td>
        <td><%= (Time.now - job.created_at).to_i / (24 * 60 * 60) + 1 + job.posted_days_ago_int%></td>
      </tr>
    <% end %>
  </table>

</div>


</div>
