<a href="/users/<%=@user.id%>/logout">Log Out</a>

<h1><%= @user.first_name %> <%= @user.last_name %> </h1>
<h3>Email: <%= @user.email %></h3>


<div> Upload Resume </div>
<%= form_for @user do |f| %>
    <%= label_tag(:resume_name, "Resume Name:") %>
    <%= text_field_tag(:resume_name) %>
    <%= f.file_field :resume_file, id:"upload_file_btn"%>

    <div class="actions">
     <%= f.submit "Submit", id:"submit_btn" %>
    </div>
<% end %>

<table>
  <tr>
    <th>Active Resumes</th>
    <th></th>
  </tr>

  <% @user.resumes.each do |resume| %>
    <tr>
      <td><a href="<%= resume.s3_link%>" target="_blank"> <%= resume.name %> </a></td>
      <td><%= link_to 'Delete resume', [resume.user, resume],
              method: :delete,
              data: { confirm: 'Are you sure?' },
              id: resume.id %></td>
    </tr>
  <% end %>
</table>
