<h1><%= @user.first_name %> <%= @user.last_name %> </h1>
<h3>Email: <%= @user.email %></h3>
<a href="/users/<%=@user.id%>/logout">Log Out</a>


<table>
  <tr>
    <th>Resume file</th>
  </tr>

  <% @user.resumes.each do |resume| %>
    <tr>
      <td><%= resume.name %></td>
    </tr>
  <% end %>
</table>
