<!DOCTYPE html>
<html>
  <head>
    <title>Worklede</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
  <div id="curtain" style="pointer-events: none;opacity: 0;width: 100%;height: 100%;background: black;position: absolute;top: 0;"></div>
  <div id="spinner"class="lds-roller" style="pointer-events: none; opacity: 0; position: absolute;left: 50%; margin-left: -20px; top: 50%;margin-top: -20px;}"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

</html>
